
        body {
            font-family: 'Times New Roman', Times, serif;
            color: #000000;
            margin: 0;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 15px;
        }

        nav ul {
            list-style: none;
            display: flex;
        }

        nav li {
            margin: 0 20px;
        }

        nav a {
            text-decoration: none;
            color: #000000;
            font-weight: bold;
            font-size: 20px;
        }

        .TAKEACT {
            margin: 0 20px;
        }

        .TAKEACT a {
            background-color: #361e0e;
            border-radius: 20px;
            padding: 10px;
            color: #fff;
            font-weight: bold;
        }
        .content {
            padding: 80px;
            margin-top: 20px;
        }

        .custom-button {
            background-color: #361e0e;
            border-radius: 20px;
            padding: 10px 20px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            display: block;
        }
        header {
            background-image: url('Dodge Coin Icon.jpg'); 
            background-size: cover;
            background-position: center;
            border-radius: 5px;
            text-align: center;
            padding: 2px;
            
        }

        h1{
            color: rgb(152, 6, 6);
            font-size: 50px;
        }
        h2{
            color: rgb(255, 255, 255);
            font-size: 40px;
        }
        .BONK{
            color: rgb(38, 0, 255);
            border-radius: 20px;
            padding: 20px;
            font-size: 20px;
        }
        .title{
            text-align: center;
            padding-top: 30px;
            font-size: 20px;
        }
        .inside{
            text-align: center;
            padding-top: 15px;
            margin-left: 200px;
            margin-right: 200px;
            font-style: italic;
        }
        .finish{
            text-align: center;
            padding-top: 15px;
        }
        .image-container {
            display: flex;
            justify-content: space-between;
        }

        .image-box {
            text-align: center;
            width: 48%; 
            margin: 10px; 
        }

        .image-box img {
            max-width: 100%;
            height: auto;
        }

        .image-box h3 {
            font-size: 20px;
            margin-top: 10px;
        }

        .image-box p {
            font-size: 16px;
            text-align: center;
            margin-left: 100px;
            margin-right: 100px;
        }
        .social-box {
            background-color: #333;
            text-align: center;
            padding: 20px 0;
            margin: 0;
        }

        .social-icon {
            font-size: 30px;
            color: #fff;
            margin: 0 20px;
            cursor: pointer;
            text-decoration: none;
        }
        .powered-by {
            text-align: center;
            background-color: #000000;
            color: #fff;
            padding: 20px 0;
            font-size: 20px;
            margin: 0; 
        }